{% load static %}

<html lang="en"><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VhcarAI</title>
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        车牌识别AI平台
      </span>
    </div>
  </div>

  <section class="section section-light">
    <h2>介绍</h2>
    <p>
      该项目是使用百度API，Django库，HMTL和CSS以及Bootstrap开发的，以对某些工作表进行样式设置。 这是一个人工智能平台的演示，
      具有识别车牌号和颜色的能力，目前，该平台仅支持图像上传。 以下演示是由奥斯瓦多开发的。
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border">
       <a href="{% url 'detail' %}" target="_blank"> 上传图片 </a>
      </span>
    </div>
  </div>

  <section class="section section-dark">
     <h2>功能</h2>
    <p>
    请上传任何格式的照片，并准备对当今的OCR算法的出色表现感到惊讶
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
      <a href="{% url 'video' %}" target="_blank">   UPLOAD A VIDEO  </a>
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2>Section Three</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis,
      delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum.
      Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta
      temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil
      fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque
      fugiat dolor repellendus ratione in.
    </p>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        DEMO
      </span>
    </div>
  </div>


</body></html>

